/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.sideBar {
  display: block;
  width: fit-content;
  min-width: 20rem;
  min-height: 100vh;
  background-color: #2c3e50;
  /* font-size: 1rem; */
  padding: 20px;
  color: #ecf0f1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* overflow: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sideBar h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ecdbba;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sideBarDataDiv button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #ecdbba;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.sideBarDataDiv button:hover {
  cursor: pointer;
}

.sideBar div h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #bdc3c7;
}

.sideBar div p {
  font-size: 1rem;
  color: #95a5a6;
}
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}
.mainDashboard {
  padding: 20px;
  margin-left: 24rem;
  overflow-y: auto;
  max-width: 100%;
  flex: 1;
}
.tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 5rem; */
  row-gap: 2rem;
  column-gap: 5rem;
  padding: 2rem;
}
.taskCard {
  background-color: #2c3e50;
  height: fit-content;
  color: #ecf0f1;
  border-radius: 8px;
  padding-left: 2.9rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  width: 16rem;
  text-align: left;
}
.taskCard:hover {
  transition: 0.3s;
  cursor: pointer;
}
.deadLine {
  color: #f63c28;
}
.tasks ol li p {
  font-size: 12px;
}
.taskTitle h3 {
  font-size: 1.5rem;
}
.assignedTo {
  font-size: 15px;
}
.tasksBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btnStyleTasks {
  padding: 5px 10px;
  background-color: rgb(97, 150, 97);
  border: transparent;
  border-radius: 3px;
  color: white;
}
.btnStyleTasks:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: rgb(79, 130, 79);
}
.showGroupLink {
  /* margin: auto; */
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  border-radius: 5px;
}
.tasksHeadSelect{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.tasksHeadSelect select{
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(97, 150, 97);
  background: transparent;
}
.deadlineLink{
  color: #f63c28;
  font-size: small;
  margin: auto;
}
.showGroupLink:hover {
  transition: 0.2s;
  color: rgb(173, 236, 173);
}
.showGroupLinkDiv {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .sideBar {
    padding: 10px;
    min-width: fit-content;
  }
  .sideBar button {
    font-size: 8px;
    padding: 5px 10px;
    border-radius: 2px;
  }
  div {
    margin: 1px;
  }
  .sideBar h1 {
    font-size: 10px;
  }

  .sideBar div h3 {
    font-size: 8px;
  }
  .mainDashboard {
    margin-left: 10rem;
  }
  .mainDashboard div h1 {
    font-size: 1rem;
  }
  .mainDashboard div p {
    font-size: 10px;
  }
  .mainDashboard div h2 {
    font-size: 1.1rem;
  }
}
